/* Header */
/* @import url('style2.css') когда нужно подключить еще один цсс файл 
пробел указывает вложенность
ели есть точка между селекторами - то это уточняем класс*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.text * {

}  - позволяет применить свойства ко всем ! ко ВСЕМ элементам, под классом text*/

body {
  font: 400 16px/1.25 Arial, Tahoma, Verdana, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(68, 49, 123);
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  margin: 5px;
}
h3 {
  text-align: center;
  margin: 15px 0px 10px;
}

h4 {
  margin: 5px;
}

p {
  text-align: justify;
  padding: 10px;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e9dede;
}

header main footer {
  max-width: 1010px;
}
table {
  border-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  max-width: 1010px;
  padding: 0px 15px;
  margin: 0px auto;
}

.flex {
  display: flex;
  flex-direction: column;
  background: #ffff;
}

.flex-item-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: #000000;
}

.flex-item-1 a {
  margin: 0 10px 0;
  color: #ffffff;
}

.flex-item-1 p {
  margin-right: 855px;
  color: #ffffff;
  font-size: 13px;
}

.flex-item-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffffff;
  height: 200px;
}

.flex-item-2 img {
  width: 150px;
  height: 150px;
  margin: 45px 0 0 0;
}

.flex-item-2 form {
  padding: 100px 20px;
}

.button-search {
  background-color: #000000;
  color: #ffffff;
  border-radius: 7px;
  padding: 7px;
}
input {
  border-radius: 7px;
  padding: 7px;
}
.flex-item-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: underline;
  background: #ffffff;
  color: #000000;
  border-bottom: 1.5px solid #000000;
  border-top: 1.5px solid #000000;
  position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
}

.flex-item-3 li a {
  color: #000000;
  position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
}

.flex-item-3 li a:hover {
  position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  background-color: #000000;
  color: #ffffff;
}

.flex-item-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #ffffff;
}
.flex-item-4 h4 {
  display: block;
}

.aside-aside-right {
  background: #ffffff;
  width: 70%;
  border-left: 1.5px solid #000000;
}
.aside-right-pic {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

.block-slider {
  display: flex;
  flex-direction: row;
}

.block-slider h3 {
  text-align: center;
  font-size: 27px;
}
.block-slider h4 {
  text-align: center;
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.picture-slider {
  width: 50%;
}

.container {
  display: inline-block;
  flex-direction: column;
  position: relative;
  padding-left: 35px;
  margin: 13px 0 30px 0px;
  font-size: 20px;
}

.block-slider-rigth button {
  margin-left: 35px;
}

#dog {
  width: 307px;
  height: 407px;
  border: 2px solid #000;
  margin: 10px;
}

.aside-aside-left {
  background: #ffffff;
  width: 30%;
}

.categories {
  border-bottom: 2px dotted #000;
}

.best-sellers {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 2px solid #000;
}
nav {
  display: flex;
  justify-content: right;
}

.row {
  font-size: 0;
  display: flex;
  margin: 0 -15px;
}

.col {
  font-size: 16px;
  padding: 0 15px;
  display: flex;
  vertical-align: top;
}

.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}
.col-inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.col-inner h3 {
  text-align: left;
  margin: 0px;
}

.navigation {
  background: #000;
}

.footer {
  display: flex;
  flex-direction: column;
  border-top: 1.5px solid #000;
}
address {
  text-decoration: solidlo;
}

.socials-row {
  display: flex;
  flex-direction: row;
  margin-left: -10px;
}

.socials-row img {
  width: 20px;
}

.socials-row a {
  display: block;
  height: 52px;
  width: 52px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  padding: 15px 0px !important;
}

.facebook {
  background-color: #083070cc;
}
.twitter {
  background-color: #79a5eb;
}
.youtube {
  background-color: #a0220ccc;
}
.instagram {
  background-color: #cf37b6cc;
}

@media (max-width: 1200px) {
  .flex-item-1 {
    font-size: 10px;
  }
}
@media (max-width: 1200px) {
  #dog {
    width: 107px;
    height: 207px;
    margin: 0;
  }
}

@media (max-width: 560px) {
  .flex-item-3 {
    display: block;
    text-align: center;
    border-bottom: solid 1px color rgb(233, 10, 10);
    background-color: #000;
    color: red;
  }
}

.mobile-btn {
  display: none;
  width: 32px;
  height: 32px;
  border-top: 3px solid #ffff;
  border-bottom: 3px solid #fff;
  align-items: center;
}
.mobile-btn span {
  width: 100%;
  height: 3px;
  background: #fff;
}

@media (max-width: 1200px) {
  .mobile-btn {
    display: inline-block;
  }
}

